body{
    background-color: rgba(172, 172, 184, 0.19);
    font-family: Helvetica, Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
.box p{
    font-weight: bold;
}
.container-box{
    display: flex;
    width: 1400px;
    height: 800px;
    justify-content: center;
}

.box{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#facebook{
    font-size: 60px;
    color: #1877F2;
}
.box span{
    font-size: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    width: 400px;
    height: 315px;
    border-radius: 10px;

}
.form-all{
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
}
.form-all input{
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    width: 330px;
}
.form-all password{
    color: #1877F2;
}
.form-all hr{
    width: 350px;
}
#sign-in{
    background-color: #1877F2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 364px;
}
#new-account{
    width: 166px;
    background-color:#42B72A ;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
a{
    text-decoration: none;
}

.bottom{
    margin-top: 20px;
}
@media only screen and (max-width: 1000px) {
    .container-box{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .box span{
        margin-bottom:20px;
    }
}